<div id="search-form-container">
    <form
      #searchForm="ngForm"
      (ngSubmit)="search(searchForm)"
      id="search-form"
    >
      <div id="search-container">
        <div>
          <input
            type="text"
            ngModel
            name="searchBar"
            #searchBar="ngModel"
            placeholder="Pokemon Name"
          />
          <p *ngIf="searchBar.errors?.['required']" >
            Input is required to search
          </p>
        </div>
        <button
          type="submit"
          [disabled]="searchForm.form.invalid"
        >
          search
        </button>
        <img *ngIf="hasSearched"  id="reset-image"src="/assets/images/refresh.png" alt="R"
        (click)="resetSearch()"
        />
      </div>
    </form>
</div>