
<header>
 
<img id="pokemon-logo" src="../../assets/images/PokemonLogo.png">
<!-- <div class="header-nav"> -->
  <nav *ngIf=!loginUrl class="header-nav">
    <div class="catalogue">
      <!-- routerLinkActive="active" ariaCurrentWhenActive="page" -->
        <a class="catalogue" routerLink="/pokedex" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="../../assets/images/PokemonsLogo.png">
          <p>Catalogue</p>
        </a>
    </div>
    <div *ngIf=!loginUrl class="trainer">
        <a class="trainer" routerLink="/trainer">
          <img src="../../assets/images/PokeballLogo.png">
          <p>Pokémons</p>
        </a>
    </div>
    <div class="art-change">
      <a (click)="changeArt()" class="art-change trainer-action">
        <img id="brush-image" [src]="isPixel ? '/assets/images/pixelBrush.png' : '/assets/images/handDrawnBrush.png'"alt="Change Art">
        <p>Click me!</p>
      </a>
    </div>
    <div *ngIf=!loginUrl class="logout">
      <a class="logout trainer-action" role="button" (click)=logoutClick()>
        <img src="/assets/images/logout.png">
        <p>Logout</p>
      </a>
    </div>
  </nav>

</header>
