#brush-image-container {
    display: flex;
    justify-content: center;
}

.brushImage{
    width: 94px;
    height: 106px; 
    cursor: pointer;
}
.brushImage:hover {
    filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
      drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}