#top-container {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

#trainer-welcoming-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trainer-welcoming-container {
    margin-bottom: 120px;
    font-weight: bold;
}

#trainer-welcoming-container h2 {
    color: #c8ce77;
    margin-bottom: 45px;
    margin-top: 30px;
    font-size: 2.2rem;
}

#trainer-welcoming-container p {
    color: black;
}

