<div class="login-form-background">
  <form
    #createLoginForm="ngForm"
    (ngSubmit)="formLogin(createLoginForm)"
    class="login"
  >
    <h3>Welcome!</h3>
    <div>
      <img class="load-Image" [class.animate]="animateLoad" src="../../assets/images/PokeballLoginEnter.png" />
      <input
        type="text"
        ngModel
        name="trainerName"
        #trainerName="ngModel"
        required
        minlength="3"
        maxlength="20"
        placeholder="Ash Ketchum"
      />
      <p *ngIf="trainerName.errors?.['required']" class="login-form-error">
        Trainer name is required
      </p>
      <p *ngIf="trainerName.errors?.['minlength']" class="login-form-error">
        Trainer name needs to be at least 3 characters
      </p>
    </div>
    <button
      type="submit"
      [disabled]="createLoginForm.form.invalid"
      class="login-form-button"
    >
      Login
    </button>
  </form>
</div>
