.card-container {
  position: relative;
  transition: transform 0.5s ease, scale 0.6s ease;
  height: 450px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;

  // type colors:
  --bug-type-color: #3b9950;
  --dark-type-color: #46455d;
  --dragon-type-color: #61cadb;
  --electric-type-color: #eeee4d;
  --fairy-type-color: #ea1369;
  --fighting-type-color: #ef6138;
  --fire-type-color: #fd4c5a;
  --flying-type-color: #93b2c7;
  --ghost-type-color: #906790;
  --grass-type-color: #29ca4f;
  --ground-type-color: #a9702c;
  --ice-type-color: #86d2f5;
  --normal-type-color: #caa0ad;
  --poison-type-color: #9b69d9;
  --psychic-type-color: #f81c91;
  --rock-type-color: #8b3e21;
  --steel-type-color: #737575;
  --water-type-color: #86a8fc;

  /* Darker shades for each type color */
  --bug-type-color-dark: hsl(121, 36%, 23%);
  --dark-type-color-dark: hsl(240, 13%, 5%);
  --dragon-type-color-dark: hsl(192, 55%, 50%);
  --electric-type-color-dark: hsl(60, 91%, 26%);
  --fairy-type-color-dark: hsl(336, 82%, 22%);
  --fighting-type-color-dark: hsl(13, 67%, 32%);
  --fire-type-color-dark: hsl(5, 73%, 23%);
  --flying-type-color-dark: hsl(210, 8%, 85%);
  --ghost-type-color-dark: hsl(291, 12%, 34%);
  --grass-type-color-dark: hsl(122, 65%, 20%);
  --ground-type-color-dark: hsl(35, 58%, 22%);
  --ice-type-color-dark: hsl(193, 38%, 85%);
  --normal-type-color-dark: hsl(336, 11%, 57%);
  --poison-type-color-dark: hsl(255, 56%, 43%);
  --psychic-type-color-dark: hsl(330, 85%, 26%);
  --rock-type-color-dark: hsl(19, 62%, 13%);
  --steel-type-color-dark: hsl(150, 1%, 33%);
  --water-type-color-dark: hsl(216, 69%, 40%);
  --color-stop-1: 50%;
}

.card {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;

  height: 450px;
  height: 100%;
  width: 350px;
}

.card-container:hover {
  scale: 1.1;
}

.card-container:hover div.card {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-front {
  background: linear-gradient(to bottom right, #4991d4, #296092);
  border: 10px solid #c8ce77; //8ea04d
  aspect-ratio: 7/9;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fffbeb;
  user-select: none;
}

.btn {
  backface-visibility: hidden;
  border: 5px solid green;
  height: 50px;
  width: 50px;
}

.btn:hover {
  backface-visibility: hidden;
  border: 10px solid yellow;
}

.card-image {
  position: absolute;
  backface-visibility: hidden;
  top: 15%;
  height: 200px;
  user-select: none;
}

.pokemon-name-card {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffcc00;
  text-shadow: 2px 0 #2D6AB3, -2px 0 #2D6AB3, 0 2px #2D6AB3, 0 -2px #2D6AB3,
    1px 1px #2D6AB3, -1px -1px #2D6AB3, 1px -1px #2D6AB3, -1px 1px #2D6AB3;
}

.card-button {
  position: absolute;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
  bottom: 5%;
  height: 75px;
  width: 75px;
  left: 39%;
}


img.catched {
  opacity: 0;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
}

.delete-button img {
  height: 30px;
}

.delete-button:hover {
  scale: 1.3;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.2)) drop-shadow(-2px 2px 0 rgba(0, 0, 0, 0.2)) drop-shadow(2px -2px 0 rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 0 rgba(0, 0, 0, 0.2));
}

.pokemon-details-img-container {
  user-select: none;
}

.pokemon-details-img-container img {
  height: 170px;
}


#poke-details-img-background {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom right,
      var(--grass-type-color),
      var(--poison-type-color));
}

#poke-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 60%;
}

// details rows
#poke-details-first-row,
#poke-details-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

// first row

#poke-details-name {
  padding: 15px 0 0 0;
}

#poke-details-first-row {
  width: 80%;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

#poke-details-first-row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

#poke-details-first-row p,
#poke-details-first-row h5 {
  margin: 0 auto;
}

#poke-details-first-row h5 {
  font-size: 0.7em;
  color: rgba(105, 105, 105, 0.5);
}

#entries-button {
  background-color: transparent;
  border: none;
}

#entries-button:hover {
  scale: 1.2;
}

// Second row

#poke-details-second-row {
  width: 80%;
  padding: 20px 0;
}

#poke-details-second-row h5 {
  text-align: center;
  font-size: 1.2em;
}

#poke-details-second-row li {
  font-size: 0.8em;
  text-align: center;
}

.poke-abilities-container ul {
  list-style: none;
  padding: 0;
}

.poke-type-container img {
  width: 40px;
}

.pointer {
  cursor: pointer;
}





.poke-ball-button.disabled {
  filter: brightness(0.6);
  pointer-events: none;
}

.poke-ball-button:hover {
  filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

.poke-ball-button-pixel {
  background-image: url('../../../assets/images/PokeballClosed.png');

}

.poke-ball-button-drawn {
  background-image: url('../../../assets/images/AltPokeballClosed2.png');
}

.poke-ball-button-pixel.animate {
  animation: buttonAnimation 3s 1, buttonAnimation2 1s 3 3s,
    buttonAnimation3 1s 1 6.5s;
  pointer-events: none;
}

.poke-ball-button-drawn.animate {
  animation: altButtonAnimation 3s 1, buttonAnimation2 1s 3 3s,
    buttonAnimation3 1s 1 6.5s;
  pointer-events: none;
}

@keyframes buttonAnimation {
  0% {
    height: 75px;

    pointer-events: none;
    background-image: url("../../../assets/images/PokeballOpen1.png");
  }

  20% {
    height: 96px;
    background-image: url("../../../assets/images/PokeballOpen2.png");
  }

  65% {
    height: 96px;
    transform: translateY(0px);

    background-image: url("../../../assets/images/PokeballOpen2.png");
  }

  66% {
    background-image: url("../../../assets/images/PokeballClosed.png");
    height: 75px;
    pointer-events: all;
  }

  70% {
    transform: translateY(25px);
  }
}

@keyframes altButtonAnimation {
  0% {
    height: 100px;

    pointer-events: none;
    background-image: url("../../../assets/images/AltPokeballOpen.png");
  }

  20% {
    height: 110px;
    background-image: url("../../../assets/images/AltPokeballOpen.png");
  }

  65% {
    height: 110px;
    transform: translateY(0px);

    background-image: url("../../../assets/images/AltPokeballOpen.png");
  }

  66% {
    background-image: url("../../../assets/images/AltPokeballClosed2.png");
    height: 75px;
    pointer-events: all;
  }

  70% {
    transform: translateY(25px);
  }
}

@keyframes buttonAnimation2 {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes buttonAnimation3 {
  0% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.6);
  }
}

.pokeBallDot {
  position: relative;
  content: "";
  background-color: red;
  opacity: 0;
  height: 10px;
  width: 10px;

  left: 42%;
  top: 7%;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.poke-ball-dot-pixel {
  border-radius: 10%;
}

.poke-ball-dot-drawn {
  border-radius: 50%;
}

.pokeBallDot.animate {
  animation: pokeBallDotAnimation 0.8s linear;
}

@keyframes pokeBallDotAnimation {
  30% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

.card-image.animate {
  animation: pokemonCatchAnimation 3s linear;
}

.card-Image-Container {
  position: relative;
  left: 21%;
  top: 0%;
  height: 400px;
  width: 200px;
  overflow: hidden;
}

@keyframes pokemonCatchAnimation {
  0% {
    filter: brightness(1) invert(0);

    z-index: 1;
  }

  30% {
    transform: translateY(-50px) scale(0.4, 1.2);

    filter: brightness(0) invert(1) drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);
  }

  60% {
    transform: translateY(-100px) scale(0.4, 1.2);
    filter: brightness(0) invert(1) drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);
    overflow: hidden;
  }

  70% {
    transform: translateY(500px) scale(0.4, 1.2);
  }

  100% {
    z-index: 1;
    overflow: hidden;
    transform: translateY(500px) scale(0.4, 1.2);
    filter: brightness(0) invert(1) drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);
  }
}


@keyframes loading-dots {
  0% {
    content: "Loading";
  }

  25% {
    content: "Loading.";
  }

  50% {
    content: "Loading..";
  }

  75% {
    content: "Loading...";
  }
}

.loading-dots::after {
  content: "Loading";
  animation: loading-dots 0.8s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-image {
  scale: 0.5;
  animation: spin 0.8s linear infinite;
}