.card-container {
  position: relative;
  transition: transform 0.5s ease, scale 0.6s ease;
  height: 450px;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;

        // type colors:
        --bug-type-color: #3B9950;
        --dark-type-color: #46455d;
        --dragon-type-color: #61CADB;
        --electric-type-color: #eeee4d;
        --fairy-type-color: #EA1369;
        --fighting-type-color: #EF6138;
        --fire-type-color: #FD4C5A;
        --flying-type-color: #93B2C7;
        --ghost-type-color: #906790;
        --grass-type-color: #29CA4F;
        --ground-type-color: #A9702C;
        --ice-type-color: #86D2F5;
        --normal-type-color: #caa0ad;
        --poison-type-color: #9B69D9;
        --psychic-type-color: #F81C91;
        --rock-type-color: #8B3E21;
        --steel-type-color: #737575;
        --water-type-color: #86A8FC;

          /* Darker shades for each type color */
        --bug-type-color-dark: hsl(121, 36%, 23%);
        --dark-type-color-dark: hsl(240, 13%, 5%);
        --dragon-type-color-dark: hsl(192, 55%, 50%);
        --electric-type-color-dark: hsl(60, 91%, 26%);
        --fairy-type-color-dark: hsl(336, 82%, 22%);
        --fighting-type-color-dark: hsl(13, 67%, 32%);
        --fire-type-color-dark: hsl(5, 73%, 23%);
        --flying-type-color-dark: hsl(210, 8%, 85%);
        --ghost-type-color-dark: hsl(291, 12%, 34%);
        --grass-type-color-dark: hsl(122, 65%, 20%);
        --ground-type-color-dark: hsl(35, 58%, 22%);
        --ice-type-color-dark: hsl(193, 38%, 85%);
        --normal-type-color-dark: hsl(336, 11%, 57%);
        --poison-type-color-dark: hsl(255, 56%, 43%);
        --psychic-type-color-dark: hsl(330, 85%, 26%);
        --rock-type-color-dark: hsl(19, 62%, 13%);
        --steel-type-color-dark: hsl(150, 1%, 33%);
        --water-type-color-dark: hsl(216, 69%, 40%);
        --color-stop-1: 50%;
}

.card {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  //border-radius:5%;
  height: 450px;
  height: 100%;
  width: 350px;
  //max-width: 350px;
  height: 450px;
  height: 100%;
}
.card-container:hover {
  // box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  scale: 1.1;
}


.card-front {
  background-color: #255786;
  border: 10px solid #58B9EF;
  aspect-ratio: 7/9;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #FFFBEB;
  user-select: none;
}

.btn {
  backface-visibility: hidden;
  border: 5px solid green;
  height: 50px;
  width: 50px;
}

.btn:hover {
  backface-visibility: hidden;
  border: 10px solid yellow;
}

.card-image{
  position: absolute;
  backface-visibility: hidden;
  top: 15%;
  width: 192px;
  height: 192px;
  user-select: none;
}

.pokemon-name-card{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #FFCC00;
  text-shadow: -2.5px 0 #2D6AB3, 0 2.5px #2D6AB3, 2.5px 0 #2D6AB3, 0 -2.5px #2D6AB3;
}

.poke-ball-button {
  position: absolute;
  background-image: url('../../../assets/images/PokeballClosed.png');
  background-position: center; 
  background-size: cover;
  border: none;
  background-color: transparent;
  height: 75px;
  width: 75px;
  bottom: 5%;
  left: 39%;
}

.pokemon-details-img-container{
  user-select: none;
}
.poke-ball-button:hover {
  outline: 3px 
}

#poke-details-img-background {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom right, var(--grass-type-color), var(--poison-type-color));
}



#poke-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 60%;
  //padding-top: 5px;
}

// details rows
#poke-details-first-row, #poke-details-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

// first row

#poke-details-name {
  padding: 15px 0 0 0;
}

#poke-details-first-row {
  width: 80%;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

#poke-details-first-row div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

#poke-details-first-row p, #poke-details-first-row h5 {
  margin: 0 auto;
}

#poke-details-first-row h5 {
  font-size: 0.7em;
  color: rgba(105, 105, 105, 0.5);
}

// Second row

#poke-details-second-row {
  width: 80%;
  padding: 20px 0;
}

#poke-details-second-row h5 {
  text-align: center;
  font-size: 1.2em;
}

#poke-details-second-row li{
  font-size: 0.8em;
  text-align: center;
}

.poke-abilities-container ul{
  list-style: none;
  padding: 0;
}

.poke-type-container img {
  width: 40px;
}

.pointer {
  cursor: pointer;
}
// .poke-type-container li::before {
//   content: "•";
//   color: red;
//   display: inline-block;
//   width: 1em;
//   margin-left: -1em;
// }

// .poke-type-container li {
//   font-size: 1.7em;
// }


.poke-ball-button.animate {
  //  animation: throw-ball 2s 1, wiggle 1s 3 2s;
  animation: buttonAnimation 3s 1, buttonAnimation2 1s 3 3s, buttonAnimation3 1s 1 6.5s;
  pointer-events: none; 
}

@keyframes buttonAnimation {
  0% {
    height: 75px;

    pointer-events: none;
    background-image: url('../../../assets/images/PokeballOpen1.png');
  }
  20% {
    
    height: 96px;
    background-image: url('../../../assets/images/PokeballOpen2.png');

  }
  65%{
    height: 96px;
    transform: translateY(0px);

    background-image: url('../../../assets/images/PokeballOpen2.png');

  }
  66% {
    background-image: url('../../../assets/images/PokeballClosed.png');
    height: 75px;
    pointer-events: all;
  }
  70%{
    transform: translateY(25px);
  }
}

@keyframes buttonAnimation2 {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes buttonAnimation3 {
  0%{
    filter: brightness(1.0);
  }
  100%{ 
    filter: brightness(0.6);
  }
}


.pokeBallDot{
  position: relative;
  content: '';
  background-color: red;
  border-radius:10%;
  opacity: 0;
  height: 10px;
  width: 10px;
  left: 43%;
  top: 8%;
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));

}

.pokeBallDot.animate{
  animation: pokeBallDotAnimation 0.8s linear;
}

@keyframes pokeBallDotAnimation {
    30%{
      opacity: 0.9;
    }

    100%{
      opacity: 0;
    }

}

.card-image.animate{
  animation: pokemonCatchAnimation 3s linear;
}

.card-Image-Container{
  position: relative;
  left: 21%;
  top: 0%;
  height: 400px;
  width: 200px;
  overflow: hidden;
}


@keyframes pokemonCatchAnimation {
  0% {
    filter: brightness(1) invert(0);

    z-index: 1;
  }

  30%{
    transform: translateY(-50px) scale(0.4, 1.2);
    
    filter: brightness(0) invert(1) drop-shadow(2px 1px 0 black) 
    drop-shadow(-1px -1px 0 black);
  }
  60% {
    
    transform: translateY(-100px) scale(0.4, 1.2);
    filter: brightness(0) invert(1) drop-shadow(2px 1px 0 black) 
    drop-shadow(-1px -1px 0 black);
    overflow: hidden;
  }
  70%{
    transform: translateY(500px) scale(0.4, 1.2);
  }
  100% {
    z-index: 1;
    overflow: hidden;
    transform: translateY(500px) scale(0.4, 1.2);
    filter: brightness(0) invert(1) drop-shadow(2px 1px 0 black) 
    drop-shadow(-1px -1px 0 black);

  }
}