<section #cardContainer class="card-container">
    <!-- Card front -->
  <div class="card card-front" (click)="onFrontButtonClick()">
    <div class="card-Image-Container">
      <img
        #cardImg
        draggable="false"
        class="card-image"
        [src]="isPixel ? data.sprite : data.altSprite"        
        [alt]="data.name"
        [class.animate]="animateImage"
        (animationend)="onAnimationEndImage()"
        [class.catched]="isDisabled && pokedexRoute"
      />
    </div>
    <h4 class="pokemon-name-card">{{ data.name }}</h4>
    <button 
      *ngIf=pokedexRoute
      class="card-button poke-ball-button"
      [ngClass]="{
        'poke-ball-button-pixel': isPixel,
        'poke-ball-button-drawn': !isPixel
      }"
      (mouseover)="canFlip = false"
      (mouseout)="canFlip = true"
      (click)="catchPokemon()"
      (animationend)="onAnimationEnd($event)"
      [class.animate]="animateButton"
      [class.disabled]="isDisabled"
    >
      <div [class.animate]="animateDot" class="pokeBallDot" [ngClass]="{
        'poke-ball-dot-pixel': isPixel,
        'poke-ball-dot-drawn': !isPixel
      }"></div>
    </button>
    <!--Remove button only visible at trainer page-->
    <button 
      *ngIf=trainerRoute 
      class="card-button delete-button"
      (mouseover)="canFlip = false"
      (mouseout)="canFlip = true"
      (click)="removePokemon()">
        <img draggable="false"src="/assets/images/delete.png">
    </button>
  </div>
  
  <!-- Card back-->
  <div class="card card-back" (click)="onBackButtonClick()">
    <div [style.background]="getGradientStyle()" id="poke-details-img-background">
      <div class="pokemon-details-img-container">
        <img
          draggable="false"
          [src]="isLoading ? '../../assets/images/PokeballLoginEnter.png' : isPixel ? data.sprite : data.altSprite"
          [alt]="data.name"
          [ngClass]="{ 'loading-image': isLoading }"
        />
      </div>
    </div>
    <div id="poke-details-container">
      <h4 id="poke-details-name">{{ data.name }}</h4>
      <div id="poke-details-first-row">
        <div
          (mouseover)="canFlip = false"
          (mouseout)="canFlip = true"
          class="poke-weight-container pointer"
          (click)="convertWeightAndHeight()"
        >
          <p [ngClass]="{ 'loading-dots': isLoading }">{{ isLoading ? '' : additionalData.weight }} {{isLoading ? '' : isMetricSystem ? 'kg' : 'lb' }}</p>
          <h5>Weight</h5>
        </div>
        <div
          (mouseover)="canFlip = false"
          (mouseout)="canFlip = true"
          class="poke-height-container pointer"
          (click)="convertWeightAndHeight()"
        >
          <p [ngClass]="{ 'loading-dots': isLoading }" >{{ isLoading ? '' : additionalData.height }} {{isLoading ? '' : isMetricSystem ? 'm' : 'feet'}}</p>
          <h5>Height</h5>
        </div>
        <div class="poke-gender-container">
          <p [ngClass]="{ 'loading-dots': isLoading }" >{{ isLoading ? '' : data.id }}{{ isLoading ? '' : '#' }}</p>
          <h5>Id</h5>
        </div>
        <button id="entries-button"
        (mouseover)="canFlip = false"
        (mouseout)="canFlip = true"
        (click)="getPokedexEntries()">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
      <div id="poke-details-second-row">
        
        <!-- Pokedex entry-->
        <div *ngIf="pokedexShown" class="text-center">
          <p [ngClass]="{ 'loading-dots': isPokedexLoading }" >
            {{ isPokedexLoading ? '' :additionalData.pokeDexEntry }}
          </p>
        </div>
        <!-- Abilities and type -->
        <div *ngIf="!pokedexShown" class="poke-abilities-container">
          <h5>Abilities</h5>
          <ul *ngIf="!isLoading">
            <li *ngFor="let ability of additionalData.abilities">
              {{
                ability.ability.name[0].toUpperCase() +
                ability.ability.name.slice(1).replace('-', ' ')
              }}
            </li>
          </ul>
          <p *ngIf="isLoading" class="loading-dots"></p>
        </div>
        <div *ngIf="!pokedexShown" class="poke-type-container">
          <h5>Type</h5>
          <ng-container *ngIf="!isLoading; else loadingDotsTemplate">
            <ng-container *ngFor="let type of additionalData.type">
              <img
                draggable="false"
                [src]="getTypeImageUrl(type.type.name)"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="{{ type.type.name[0].toUpperCase() + type.type.name.slice(1) }}"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #loadingDotsTemplate>
    <p class="loading-dots"></p>
  </ng-template>
  
</section>
