<header>
  <img id="pokemon-logo" src="../../assets/images/PokemonLogo.png">
  <!-- <div class="header-nav"> -->
    <nav class="header-nav">
      <div class="catalogue">
        <!-- routerLinkActive="active" ariaCurrentWhenActive="page" -->
          <a class="catalogue" routerLink="/pokedex" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/images/PokemonsLogo.png">
            <p>Catalogue</p>
          </a>
      </div>
      <div class="trainer">
          <a class="trainer" routerLink="/trainer">
            <img src="../../assets/images/PokeballLogo.png">
            <p>Pokémons</p>
          </a>
          
      </div>
    </nav>
  <!-- </div> -->
</header>

<main>

</main>

<!-- <footer>the footer</footer> -->

<!-- Your pages are rendered here -->
<router-outlet></router-outlet>