<header>
  <img id="pokemon-logo" src="../../assets/images/PokemonLogo.png">
    <nav class="header-nav">

      <div class="catalogue">
          <a class="catalogue" routerLink="/pokedex" routerLinkActive="link-active">
            <img src="../../assets/images/PokemonsLogo.png">
            <p>Catalogue</p>
          </a>
      </div>

      <div class="trainer">
          <a class="trainer" routerLink="/trainer" routerLinkActive="link-active">
            <img src="../../assets/images/PokeballLogo.png">
            <p>Pokémons</p>
          </a>
      </div>

    </nav>
</header>

<main>

</main>

<!-- <footer>the footer</footer> -->

<!-- Your pages are rendered here -->
<router-outlet></router-outlet>