<header>
  <img id="pokemon-logo" src="../../assets/images/PokemonLogo.png">
  <div class="header-nav">
    <nav class="header-nav">
      <div class="catalogue">
        <!-- routerLinkActive="active" ariaCurrentWhenActive="page" -->
          <a routerLink="/pokedex" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/images/PokeBag.png">
          </a>
          <p>Catalogue</p>
      </div>
      <div class="trainer">
          <a routerLink="/trainer">
            <img src="../../assets/images/Pikachu.png">
          </a>
          <p>Pokémons</p>
      </div>
  </nav>
  </div>
</header>

<main>

</main>

<!-- <footer>the footer</footer> -->

<!-- Your pages are rendered here -->
<router-outlet></router-outlet>