

.grid {
    padding-top: 50px;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
 }

.grid > app-pokemon-card {
  }

 @media screen and (max-width: 1000px) {
    .grid {
    }
  }