<div id="cardContainer" class="container">
    <div class="row">
        <div class="grid">
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>
            <app-pokemon-card></app-pokemon-card>

        </div>
    </div>
</div>